$red: #ff3d42;
$dark-blue-1: #193a4a;
$dark-blue-2: #102c3a;
$opensans: 'Open Sans', sans-serif;

//Took this skreen breakpoints from Bootstrap
$screen-sm: 576; // Small devices (landscape phones, 576px and up)
$screen-md: 768; // Medium devices (tablets, 768px and up)
$screen-lg: 992; // Large devices (desktops, 992px and up)
$screen-xl: 1200; // Extra large devices (large desktops, 1200px and up)
